h1 {
	text-align: center;
}

#PB_Status {
	width: 100%;
	background-color: #ddd;
}

#progressBar {
	width: 0%;
	height: 35px;
	background-color: #5dc1b9;
	text-align: center;
	line-height: 32px;
	color: black;
}